<mat-toolbar color="primary">
  <!--<span [textContent]='title'></span>-->
  <span>{{title}}</span>
  <a href="#" mat-button>
    <mat-icon>home</mat-icon>
    Accueil
  </a>
  <a href="#" mat-button>
    <mat-icon>taxi_alert</mat-icon>
    Voitures
  </a>
  <a href="#" mat-button>
    <mat-icon>add</mat-icon>
    Ajouter
  </a>

  <div *ngIf="user else login">
    Bonjour {{user.name}}
    <button mat-button>
      <mat-icon>locked_out</mat-icon>Se déconnecter
    </button>
  </div>

  <ng-template #login>
    <a href="#" mat-button>
      <mat-icon>locked_in</mat-icon>
      Connexion
    </a>
  </ng-template>



</mat-toolbar>



<app-footer></app-footer>